*{
	margin: 0;
	padding: 0;
}
html,body,#app{
	height: 100%;
}
.no-border{
	border: 0;
}
.green-btn{
	background-color: #00d1b2;
	color: #FFF;
}
.green-btn:hover{
	background-color: rgb(51, 218, 193);
	color: #FFF;
}
/*超小按钮*/
.el-button--mini, .el-button--mini.is-round{
	padding: 7px 10px;
}

.current{
	font-size: 14px;
    margin-top: 10px;
    padding: 10px 0 10px 15px;
    color: #ccc;
}
.current a{
	font-weight: bold;
}
.el-pagination{
	text-align: center;
	margin-top: 20px;
}

/*输入框内边距*/
.el-input__inner{
	padding: 0 3px;
}
