*{
	margin: 0;
	padding: 0;
	font-size: 12px;
}
html,body,#app{
	height: 100%;
  min-width: 1048px;
  overflow-x: hidden;
  overflow-y: auto;
}
.no-border{
	border: 0;
}
.green-btn{
	background-color: #00d1b2;
	color: #FFF;
}
.green-btn:hover{
	background-color: rgb(51, 218, 193);
	color: #FFF;
}
/*超小按钮*/
.el-button--mini, .el-button--mini.is-round{
	padding: 2px 10px;
}

.current{
  font-size: 14px;
  margin-top: 0px;
  padding: 10px 0 10px 15px;
  color: #ccc;
}
.current a{
	font-weight: bold;
}
.el-pagination{
	text-align: center;
	margin-top: 20px;
}

/*输入框内边距*/
.el-input__inner{
	padding: 0 3px;
}

/*分页*/
.el-pagination{
	margin-top: 0;
}
.el-pagination__editor.el-input .el-input__inner{
    height: 20px;
}

/*表格*/
.el-table td, .el-table th{
	padding: 2px 0;
}
.el-table .cell{
	padding: 0;
}

/*菜单*/
.el-menu-item, .el-submenu__title{
    height: 40px;
    line-height: 40px;
}
/*输入框*/
.el-input--mini .el-input__inner {
    height: 20px;
    line-height: 20px;
}
.el-form-item{
    margin-bottom: 0;
}
.el-form-item__error{
	top: 69%;
}
/*模态框*/
.el-dialog__header{
	background-color: #00d1b2;
	padding: 8px 20px;
}
.el-dialog__title{
	color: #FFF;
}
.el-dialog__body{
	padding: 10px;
}
/* h5标签hack */
header,nav,main,footer,section,article,aside{display: block;}

/* 阿里矢量图标 https: */
@font-face {
  font-family: 'proFont';  /* project id 602476 */
  src: url('//at.alicdn.com/t/font_602476_bigshw9lucq8h0k9.eot');
  src: url('//at.alicdn.com/t/font_602476_bigshw9lucq8h0k9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_602476_bigshw9lucq8h0k9.woff') format('woff'),
  url('//at.alicdn.com/t/font_602476_bigshw9lucq8h0k9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_602476_bigshw9lucq8h0k9.svg#proFont') format('svg');
}
/* 配合阿里矢量图使用*/
.proFont{
  font-family: proFont;
  font-weight:normal;
  font-style: normal;
}

/* ------设置浮动------ */
.set-right{
  float: right;
}
.set-left{
  float: left;
}
/* ------清除浮动------ */
.clear-fix{zoom:1;}
.clear-fix:after{
  content:"";
  display:block;
  height:0;
  line-height:0;
  clear:both;
  visibility:hidden;
}
/*多选下拉框*/
.el-select .el-tag{
	margin: 5px 0 0px 6px;
	height: 13px;
}
.el-tag--mini{
	line-height: 10px;
}
